*{
    box-sizing: border-box;
    margin: 0px;
    height: fit-content;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}


h3{
    font-size: 2rem;
}

li{
    list-style: none;
}
p{
    font-weight: 700;
}

img:hover{
    filter: drop-shadow(1px 1px 50px rgb(255, 255, 255));
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* background-color: black; */  
    position: relative;
    /* z-index: 0;  */
    overflow:hidden ;  
    height: 100vh
}

/* my-nav-bar */

nav{
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.125); */
  z-index: 1000;
  position: absolute;
  top: 0;
}

.menu{
    /* background-color: rgba(255, 255, 255, 0.125); */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

nav a{
    text-decoration: none;
   
}

/* my-logo */
.logo{
    color: white;
    opacity: 0.5;
    font-size: 3.8rem;
    padding: 40px;
    text-shadow: 2px 2px 10px black;
   
    transition: 0.5s;
    animation: moveRtoL 1.5s ease-in-out forwards;
}
nav .logo:hover{
    opacity: 1;
    text-shadow: 2px 10px 10px black;
}
/* MENU LOGOS  that menu is the div that contains my two logo */
.menu-logos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
/* home-button */
nav .homeBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.5;
    padding: 12px;
    margin:25px 0px 10px 0px;
    background-color:white;
    transition: all .5s;
    animation: moveRtoL 1s ease-in-out forwards;
}

nav .contact-logo{
   
    background-color: rgb(240, 248, 255);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin:25px 0px 10px 0px;
    opacity: 0.5;
    transition: all .5s;
    animation: moveRtoL 1.5s ease-in-out forwards;
    
}
nav .contact-logo:hover{
    opacity: 1;
    box-shadow: 2px 10px 10px black;
}
nav .homeBtn:hover{
    opacity: 1;
    box-shadow: 2px 10px 10px black;
}

/* my-home-page */
#my-home-page{
    width: 100vw;
    height: 100%;
    position: absolute; 
    /* background-image: url(./GROUP_PROJECT01/Background01.jpg); */
    background-image:url(./GROUP_PROJECT01/colorful-paint-black-background.jpg);
    background-size:cover ;
    top:0;
    animation: imageMoves 40s ease-in-out backwards infinite ;
    display: flex;
    justify-content: center;

     /* display: none; */
    
 }
@keyframes backImage {
    
}
 /* ---------------------- */
.trino_container{
    box-shadow: 2px 2px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 70%;
    height: 70%;
    bottom: px;    
    border-radius: 30px;
    overflow: hidden;
    margin: 170px auto;
    
    /* animation: imageMoves 60s ease-in-out infinite forwards; */
}

.image-container{
    /* background-image: url("./GROUP_PROJECT01/colorful-paint-black-background.jpg" ) ; */
    /* object-fit: cover; */
    /* background-size: cover; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    width:100vw ;  
    box-sizing: border-box;    
    /* margin-top: 50px; */    
    /* I try flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.image-container div{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    width:33.3%;
    height: 80lvh;    
    position: relative;
    filter: drop-shadow(1px 1px 50px rgb(17, 17, 17));
    background-position-x: center;   
    /* border: 2px solid red; */
}

/* .image-container div a img{ */
  /*  */
    /* transition: all 1s ease-in-out; */
    /* position: absolute; */
    /*  */
   /*  */
    /* width: 400px; */
    /* height: 600px; */
    /* max-width: 100%; */
/* } */

.image-container div:hover{
    filter: drop-shadow(1px 20px 50px rgb(253, 252, 252));
    /* animation: none; */
    cursor: pointer;
      
  
}

#charlie_pic {
   animation: moveLtoR 1s ease-in-out forwards; 
   /* animation: imageMoves 7s 5s ease-in-out infinite forwards; */
   background-image: url("./GROUP_PROJECT01/charlie_01-removebg-preview.png" );
   background-size: cover;
 
     
}

#curtis_pic{
    animation: moveRtoL 1s ease-in-out forwards; 
    background-image: url("./GROUP_PROJECT01/P1001359-removebg-preview.png");
    background-size: cover;
   
    /* animation: imageMoves 7s 5s ease-in-out infinite forwards; */
}

#Van_pic{
    animation:  appear 0.5s ease-in-out forwards; 
    background-image: url("./GROUP_PROJECT01/van01-removebg-preview.png");
    background-size: cover;
    
    /* animation: imageMoves 7s 5s ease-in-out infinite forwards; */
}

body .fadecontainer{
    background-color: black;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    z-index: 100;
 }    

@keyframes moveLtoR{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes moveRtoL{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes appear{
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes imageMoves {
    0%{
        transform: scale(1.1);
    }

    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }

    75%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
    }
}   



